# Documentation
Sphinx==2.3.1
sphinx_rtd_theme==0.4.3

# Tests
flake8==3.7.9
tox==3.14.3

# Deployment
pip==20.0
bumpversion==0.5.3
wheel==0.33.6

# Development
tqdm==4.42.0
sparqlwrapper==1.8.5
pandas==0.25.3
